
# BEGIN WordPress
# Le direttive (linee) tra `BEGIN WordPress` e `END WordPress` sono
# generate dinamicamente, e dovrebbero essere modificare solo con i filtri di WordPress.
# Ogni modifica alle direttive tra questi marcatori sarà sovrascritta.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /homeproject/nafidha_web/online/blog/
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /homeproject/nafidha_web/online/blog/index.php [L]
</IfModule>

# END WordPress